{% extends "base.html"%}
{% load static %}
{% block cuerpo  %}
<div class="row"><!-- la fila-->

<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>registros</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/registrarMobiliario/" method="POST"> {% csrf_token %} <!-- formulario-->
                <div class="form-roup">
                    <input type="text" id="txtid_mobiliario" name="txtid_mobiliario" class="form-control"
                    placeholder="id del Mobiliario" minLenght="6" maxLenght="6" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtdescripcion" name="txtdescripcion" class="form-control"
                    placeholder="Descripcion"  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtcantidad" name="txtcantidad" class="form-control"
                    placeholder="Cantidad"  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtcosto" name="txtcosto" class="form-control"
                    placeholder="Costo"  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="date" id="txtfecha_compra" name="txtfecha_compra" class="form-control"
                    placeholder="Fecha de compra"  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtestado" name="txtestado" class="form-control"
                    placeholder="Estado"  maxLenght="10" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtsucursales" name="txtsucursales" class="form-control"
                    placeholder="ID de las sucursales"  maxLenght="100" required>
                </div>
                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!-- formulario-->
        </div>
    </div><!-- tarjeta -->
</div><!-- columna izquierda-->

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!-- columna derecha-->
    <h1>Mobiliario</h1>
    <img class="w-50" src="{% static 'img/mobiliario.jpg' %}" alt="rodriguez" width="400" height="400">
<div class="table-responsive"><!-- tabla responsiva-->
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id Mobiliario</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Costo</th>
            <th scope="col">Fecha de compra</th>
            <th scope="col">Estado</th>
            <th scope="col">Id sucursal</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
            {% for m in mimobiliario %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{m.id_mobiliario}}</td>
                <td>{{m.descripcion}}</td>
                <td>{{m.cantidad}}</td>
                <td>{{m.costo}}</td>
                <td>{{m.fecha_compra}}</td>
                <td>{{m.estado}}</td>
                <td>{{m.id_sucursales}}</td>
                <td>  <a href="seleccionarMobiliario/{{m.id_mobiliario}}" class="btn btn-success">Editar</a> </td>  
                <td>  <a href="borrarMobiliario/{{m.id_mobiliario}}" class="btn btn-danger">Borrar</a> </td> 
            </tr>
            {% endfor %}

        </tbody>
      </table>
</div><!-- tabla responsiva-->
</div><!-- columna derecha-->

</div><!-- la fila-->
    {% endblock %}