{% extends "base.html"%}
{% load static %}
{% block cuerpo  %}
<div class="row"><!-- la fila-->

<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>registros</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/registrarSucursal/" method="POST"> {% csrf_token %} <!-- formulario-->
                <div class="form-roup">
                    <input type="text" id="txtid_sucursal" name="txtid_sucursal" class="form-control"
                    placeholder="Id de sucursal" minLenght="6" maxLenght="6" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    placeholder="Nombre Sucursal"  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                    placeholder="Direccion"  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txttelefono" name="txttelefono" class="form-control"
                    placeholder="Telefono"  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txthorario" name="txthorario" class="form-control"
                    placeholder="Horario"  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtencargado" name="txtencargado" class="form-control"
                    placeholder="Encargado"  maxLenght="10" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtcodigo_postal" name="txtcodigo_postal" class="form-control"
                    placeholder="Codigo postal"  maxLenght="100" required>
                </div>
                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!-- formulario-->
        </div>
    </div><!-- tarjeta -->
</div><!-- columna izquierda-->

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!-- columna derecha-->
    <h1>Sucursales</h1>
    <img class="w-50" src="{% static 'img/sucursales.jpg' %}" alt="rodriguez" width="400" height="400">
<div class="table-responsive"><!-- tabla responsiva-->
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id Sucursal</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Horario</th>
            <th scope="col">Encargado</th>
            <th scope="col">Codigo postal</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
            {% for m in missucursales %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{m.id_sucursal}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.direccion}}</td>
                <td>{{m.telefono}}</td>
                <td>{{m.horario}}</td>
                <td>{{m.encargado}}</td>
                <td>{{m.codigo_postal}}</td>
                <td>  <a href="seleccionarSucursal/{{m.id_sucursal}}" class="btn btn-success">Editar</a> </td>  
                <td>  <a href="borrarSucursal/{{m.id_sucursal}}" class="btn btn-danger">Borrar</a> </td> 
            </tr>
            {% endfor %}

        </tbody>
      </table>
</div><!-- tabla responsiva-->
</div><!-- columna derecha-->

</div><!-- la fila-->
    {% endblock %}